datasets/ho3d/
checkpoints/THOR-Net_trained_on_HO3D/model-18.pkl
GraFormer/common/__pycache__/camera.cpython-38.pyc
GraFormer/common/__pycache__/data_utils.cpython-38.pyc
utils/__pycache__/vis_utils.cpython-38.pyc
utils/__pycache__/utils.cpython-38.pyc
utils/__pycache__/dataset.cpython-38.pyc
models/__pycache__/rcnn_loss.cpython-38.pyc
models/__pycache__/faster_rcnn.cpython-38.pyc
GraFormer/network/__pycache__/GraFormer.cpython-38.pyc
GraFormer/network/__pycache__/MeshGraFormer.cpython-38.pyc
models/__pycache__/thor_net.cpython-38.pyc
models/__pycache__/roi_heads.cpython-38.pyc
models/__pycache__/roi_heads.cpython-38.pyc
GraFormer/network/__pycache__/ChebConv.cpython-38.pyc
GraFormer/common/__pycache__/utils.cpython-38.pyc
GraFormer/common/__pycache__/quaternion.cpython-38.pyc
models/__pycache__/generalized_rcnn.cpython-38.pyc
utils/__pycache__/options.cpython-38.pyc
utils/__pycache__/rcnn_utils.cpython-38.pyc
outputs
utils/__pycache__/dataset.cpython-310.pyc
utils/__pycache__/rcnn_utils.cpython-310.pyc
utils/__pycache__/vis_utils.cpython-310.pyc
datasets/pov_surgery_utils/utils/__pycache__/vis.cpython-37.pyc
datasets/pov_surgery_utils/utils/__pycache__/transforms.cpython-37.pyc
datasets/pov_surgery_utils/utils/__pycache__/mano.cpython-37.pyc
datasets/pov_surgery_utils/__pycache__/pov_surgery_processing.cpython-37.pyc
datasets/pov_surgery_utils/__pycache__/datautil.cpython-37.pyc
datasets/pov_surgery_utils/__pycache__/pov_surgery_processing.cpython-37.pyc
datasets/pov_surgery_utils/utils/__pycache__/config_pov_surgery.cpython-37.pyc
datasets/pov_surgery_utils/utils/__pycache__/dir.cpython-37.pyc
datasets/pov_surgery_utils/utils/__pycache__/mano.cpython-37.pyc
datasets/pov_surgery_utils/utils/__pycache__/preprocessing.cpython-37.pyc
datasets/pov_surgery_utils/utils/__pycache__/transforms.cpython-37.pyc
datasets/pov_surgery_utils/utils/__pycache__/vis.cpython-37.pyc
datasets/pov_surgery_utils/__pycache__/pov_surgery_processing.cpython-37.pyc
datasets/pov_surgery_utils/__pycache__/datautil.cpython-37.pyc
datasets/pov_surgery_utils/utils/__pycache__/vis.cpython-37.pyc
*.pyc
myfile.txt
sample.json
.DS_Store
datasets/povsurgery
datasets/ho3d
checkpoints
THOR-Net/checkpoints
checkpoints/THOR-Net_trained_on_HO3D
datasets/TEST_DATASET/